#landing_container{
	background-image: url(../img/beach4.jpg);
	background-size: 1010px 500px;
	background-color: #89E7EF;
	width: 1010px;
	height: 500px;
	/*===========================================================================*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	/*===========================================================================*/ 
}
#landing_btns_container{
	display: block;
	text-align: center;

	  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%


}
#landing_btns_container>*{
	display: inline-block;
}
#landing_btns_container>input[type='button']{
	font-size: 64px;
	padding: 5px 20px;
	background-color: white;
	border-radius: 20px;
}



